{% extends "public/base.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/pagination/dataCli.js') }}"></script>
{% endblock %}
{% block conteudo %}
    <!-- Exibe mensagem que foi enviado pelo Back -->
    {% for message in get_flashed_messages() %}
        {% if message %}
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 6000);
        </script>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="fa-solid fa-circle-check" style="font-size: 1rem; padding-right: 1rem;"></i>
            <div>
                <h6>{{ message }}</h6>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
    <div class="conteiner-top">
        <h3 class="titulo-pagina">Lista de Clientes</h3>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Pesquisar" id="searchField">
        </div>
        <a style="width: 15%;" name="atualizaBase" id="atualizaBase" class="btn btn-outline-success" href="/atualiza-baseCli-modal">Atualizar base</a>
    </div>
    
    <div class="page-container">
        <div class="container">
            <div id="lista-clientes"></div>
        </div>
    </div>
    <!-- Modal para confrimação de atualização da base do cliente -->
    {% if context %}
        {% if context.aviso == 1 %}
            <section class="modal-alert">
                <div id="card-alert">
                    <h2>Aviso!</h2>
                    <hr>
                    <p>Está ação ira atualizar toda a base do GEF de a cordo com os dados do Protheus.</p>
                    <p>Deseja continuar?</p>
                    <div id="btns">
                        <a type="button" class="btn-sim" id="btn-sim">SIM</a>
                        <a class="btn-nao" href="javascript:history.back()">NÃO</a>
                    </div>
                </div>
                <div style="display: none;" id="loader">
                    <h2>Aguarde!</h2>
                    <hr>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p>Carregando ...</p>
                </div>
            </section>
        {% endif %}
    {% endif %}
    <!-- Modal para a vizualização dos dados do cliente -->
    {% if context %}
        {% if context.aviso == 2 %}
            <section class="modal-view">
                <div id="card-view">
                    <h2>Dados do Cliente</h2>
                    <hr>
                    <div>
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col-2">
                                    <label>Código:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="codigo" id="codigo" maxlength="6" size="10" tabindex="1" 
                                        placeholder="Código" autocomplete="off" disabled="" value="{{ context.cliente.c_codigo }}">
                                </div> 
                                <div class="col-2">
                                    <label>Loja:</label>                           
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="loja" id="loja" maxlength="2" size="5" tabindex="2" 
                                        placeholder="Loja" autocomplete="off" disabled="" value="{{ context.cliente.c_loja }}">
                                </div>
                            </div>   
                            <div class="row mb-2">
                                <div class="col-8">
                                    <label>Razao Social:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="razaoSocial" id="razaoSocial" maxlength="80" size="84" tabindex="3" 
                                        placeholder="Razao Social" autocomplete="off" disabled="" value="{{ context.cliente.c_razaosocial }}">
                                </div>
                                <div class="col-4">
                                    <label>CPF/CNPJ:</label>
                                    <input class="cpfOuCnpj form-control" type="text" name="cpfcnpj" id="cpfcnpj" maxlength="18" size="25" tabindex="4" 
                                        placeholder="CPF/CNPJ" autocomplete="off" disabled="" value="{{ context.cliente.c_cpfcnpj | cpfCnpj }}">
                                </div>
                            </div> 
                            <div class="row mb-2">    
                                <div class="col-4">
                                    <label>Inscr. Estadual:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="inscrest" id="inscrest" maxlength="20" size="23" tabindex="5" 
                                        placeholder="Inscr. Estadual" autocomplete="off" disabled="" value="{{ context.cliente.c_inscricao }}">
                                </div>
                                <div class="col-3">
                                    <label>Telefone:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="telefone" id="telefone" maxlength="20" size="22" tabindex="6" 
                                        placeholder="Telefone" autocomplete="off" disabled="" value="{{ context.cliente.c_telefone }}">
                                </div>
                                <div class="col-5">
                                    <label>E-mail:</label>
                                    <input class="form-control" type="email" style="text-transform: uppercase;" name="email" id="email" maxlength="45" size="54" tabindex="7" 
                                        placeholder="E-mail" autocomplete="off" disabled="" value="{{ context.cliente.c_email }}">
                                </div> 
                            </div>
                            <div class="row mb-2">
                                <div class="col-3">
                                    <label>CEP:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="cep" id="cep" maxlength="20" size="16" tabindex="8" 
                                        placeholder="CEP" autocomplete="off" disabled="" value="{{ context.cliente.c_cep | cep }}" >
                                </div>
                                <div class="col-7">
                                    <label>Endereço:</label> 
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="logradouro" id="logradouro" maxlength="50" size="61" tabindex="9" 
                                        placeholder="Endereço" autocomplete="off" disabled="" value="{{ context.cliente.c_endereco }}">
                                </div>
                            </div> 
                            <div class="row mb-2">    
                                <div class="col-3">
                                    <label>Bairro:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="bairro" id="bairro" maxlength="25" size="31" tabindex="10" 
                                        placeholder="Bairro" autocomplete="off" disabled="" value="{{ context.cliente.c_bairro }}">
                                </div>
                                <div class="col-4">
                                    <label>Cidade:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="cidade" id="cidade" maxlength="20" size="21" tabindex="11" 
                                        placeholder="Cidade" autocomplete="off" disabled="" value="{{ context.cliente.c_cidade }}">
                                </div>
                                <div class="col-3">
                                    <label>UF:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="uf" id="uf" maxlength="20" size="21" tabindex="11" 
                                        placeholder="Cidade" autocomplete="off" disabled="" value="{{ context.cliente.c_uf }}">
                                </div>
                                <div class="col-2">
                                    <label>Vendedor:</label>
                                    <input class="form-control" type="text" style="text-transform: uppercase;" name="vendedor" id="vendedor" maxlength="6" size="10" tabindex="13" 
                                        placeholder="Vendedor" autocomplete="off" disabled="" value="{{ context.cliente.c_codvend }}">
                                </div> 
                            </div>
                            <br>  
                        </div> 
                    </div>
                    <div id="btns">
                        <a class="btn btn-outline-danger btn-sm" href="javascript:history.back()">Cancelar</a>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#btn-sim").click(function(){
            $.ajax({
                url: '/atualiza-baseCli',
                type: 'POST',
                beforeSend: function(){
                        $("#loader").show();
                        $("#card-alert").hide();
                },
                success: function(data){    
                },
                complete: function(data){
                    $("#loader").hide();
                    window.location='/lista-clientes'
                },
                error: function(data){
                    alert("Algo deu errado, contate o setor de T.I!");
                }
            });
        });
    });
</script>
{% endblock %}