{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
    <!-- Exibe mensagem que foi enviado pelo Back -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    window.setTimeout(function() {
                        $(".alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); 
                        });
                    }, 8000);
                </script>
                <div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
                    {% if category == "success" %}
                        <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                    <h6>{{ message }}</h6>
                    <div class="progress active"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div id="lista-baixas"></div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/baixa/dataBaixa.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: columnsBaix,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dataBiax), 2000);
            });
        },
        search: {
            ignoreHiddenColumns: false,
        },
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        style: {
            td: {
                'font-size': '13.5px'
            }
        },
    }).render(document.getElementById("lista-baixas"));
</script>
{% endblock %} 