{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
    <!-- Exibe mensagem que foi enviado pelo Back -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    window.setTimeout(function() {
                        $(".alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); 
                        });
                    }, 8000);
                </script>
                <div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
                    {% if category == "success" %}
                        <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                    <h6>{{ message }}</h6>
                    <div class="progress active"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div id="lista-baixas"></div>

    <!-- Modal para selecionar as baixas para devolução do título -->
    {% if context %}
        {% if context.aviso == 1 %}
            <section class="modal-baixa">
                <form action="" method="POST">
                    <div id="card-baixa">
                        <h2>Baixas do Título</h2>
                        <hr>
                        <div class="alert" style="display: none;" id="alert" role="alert">
                        </div>
                        <div class="scroll">
                            <table class='table table-striped'>
                                <thead>
                                    <tr class='table-info'>
                                        <th>Check</th>
                                        <th>Ref.</th>
                                        <th>Documento</th>
                                        <th>Parcela</th>
                                        <th>DT baixa</th>
                                        <th>Tipo Baixa</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for baixa in context.baixas %}
                                        <tr id="{{baixa.m_id}}">
                                            <td><input type="checkbox" value="{{baixa.m_id}}" class="danger" name='checkbox'></td>
                                            <td>{{baixa.m_docRef}}</td>
                                            <td>{{baixa.m_numDoc}}</td>
                                            <td>{{baixa.m_parcela}}</td>
                                            <td>{{baixa.m_dataBaixa | data}}</td>
                                            <td>{{baixa.m_tipoBaixa | tpBixa}}</td>
                                            <td>{{baixa.m_valor | real}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="btns">
                            <input type="button" class="btn btn-outline-success btn-sm" id="confirm" value="Confirmar">
                            <a class="btn btn-outline-danger btn-sm" href="javascript:history.back()">Cancelar</a>
                        </div>
                    </div>
                </form>
                <script>
                    $("#confirm").click(function(){
                        var checkbox = $('input:checkbox[name^=checkbox]:checked');
                        if(checkbox.length > 0){
                            $("#confirm").prop('disabled', true);
                            //array para armazenar os valores
                            var listaIds = [];
                            //função each para pegar os selecionados
                            checkbox.each(function(){
                                listaIds.push(parseInt($(this).val()));
                            });

                            $.ajax({
                                url: '/deletar-baixa',
                                type: 'POST',
                                dataType: 'json',
                                contentType: 'application/json',
                                data:JSON.stringify({
                                    list: listaIds,
                                }),
                                success: function(data){
                                    if (data.success == true){
                                        for (var i in data.ids){
                                            $(`#${data.ids[i]}`).hide();
                                        }
                                        $("#alert").empty();
                                        $("#alert").removeClass("alert-danger");
                                        $("#alert").addClass("alert-success");
                                        $("#alert").show();
                                        $("#alert").append("<h6>Estorno efetuado com sucesso!</h6>");
                                        setTimeout(function(){ 
                                            $("#alert").toggle("slow");
                                            window.location='/lista-estorno'
                                        }, 3000);
                                    }
                                },
                                error: function(data){
                                    console.log(data)
                                }
                            
                            });

                        }else{
                            window.scrollTo(0, 0);
                            $("#alert").empty();
                            $("#alert").removeClass("alert-success");
                            $("#alert").addClass("alert-danger");
                            $("#alert").show();
                            $("#alert").append("<h6>Selecione uma baixa</h6>");
                            setTimeout(function(){ 
                                $("#alert").toggle("slow");
                            }, 5000);
                        }

                    });
                    
                </script>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/estorno/dataEstorn.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: columnsEstorn,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dataEstorn), 2000);
            });
        },
        search: {
            ignoreHiddenColumns: false,
        },
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        style: {
            td: {
                'font-size': '13.5px'
            }
        },
    }).render(document.getElementById("lista-baixas"));
</script>
{% endblock %} 