{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
{% include "public/modal/modalEstorno.html" %}
    <!-- Exibe mensagem que foi enviado pelo Back -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    window.setTimeout(function() {
                        $(".alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); 
                        });
                    }, 8000);
                </script>
                <div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
                    {% if category == "success" %}
                        <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                    <h6>{{ message }}</h6>
                    <div class="progress active"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div id="lista-baixas"></div>

{% endblock conteudo %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/estorno/dataEstorn.js') }}"></script>

<script>
    function mostraAlert(msg, categoria) {
        var div = document.querySelector("#alert-estorno");
        var divBody = document.querySelector("#bodyEstorno");
    
        div.innerHTML = "";
        div.innerHTML += `<i class="fa-solid fa-circle-exclamation"></i> <h6>${msg}</h6>`
        div.classList.remove("d-none");
        if (categoria == "success"){
            div.classList.remove("alert-danger");
            div.classList.add("alert-success");
            div.innerHTML += '<div class="progress-3 active"></div>';
        }else{
            div.classList.remove("alert-success");
            div.classList.add("alert-danger");
            div.innerHTML += '<div class="progress active"></div>';
        }
        divBody.scroll({
            top: 0,
            behavior: "smooth",
        });
        setTimeout(() => {
            div.classList.add("d-none");
        }, (categoria == "success") ? 3000 : 8000);
    }
</script>

<script> 
    $(document).on('click', '#confirmEstorno', function (){
        var checkbox = $('input:checkbox[name^=checkbox]:checked');
        if(checkbox.length > 0){
            $("#confirmEstorno").prop('disabled', true);
            var listaIds = [];
            //função each para pegar os selecionados
            checkbox.each(function(){
                listaIds.push(parseInt($(this).val()));
            });

            $.ajax({
                url: '/estorno/estornar-baixa',
                type: 'PUT',
                dataType: 'json',
                contentType: 'application/json',
                data:JSON.stringify({
                    list: listaIds,
                }),
                success: function(data){
                    for (var i in data){
                        $(`#${data[i]}`).hide();
                    }
                    mostraAlert("Estorno efetuado com sucesso!", "success");
                    setTimeout(function(){ 
                        window.location='/estorno/lista-estorno'
                    }, 3100);
                },
                error: function(error){
                    $("#confirmEstorno").prop('disabled', false);
                    window.location='/error_500';
                    console.error(error);
                }
            
            });

        }else{
            mostraAlert("Selecione uma baixa!", "danger");
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#modalEstorno').on('show.bs.modal', function (event) {
            var modal = $(this);
            var idEstorno = modal.data('id');

            $.ajax({
                url: `/estorno/${idEstorno}`,
                type: 'GET',
                success: function (data) {
                    $('#corpoModalEstorno').html("");
                    $('#corpoModalEstorno').html(data);
                },
                error: function (error) {
                    window.location = "/error_500";
                    console.error(error);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).on('click', '.abrirModal', function () {
        var idEstorno = $(this).data('id');
        $('#modalEstorno').data('id', idEstorno);
        $('#modalEstorno').modal('show');
    });
</script>
{% endblock script %} 