<div class="modal fade" id="modalExclusao" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">AVISO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2 mb-3">
                        <i class="fa-solid fa-triangle-exclamation icon-size"></i>
                    </div>
                    <div class="col mb-3 d-flex align-items-center">
                        <span class='msg-modal-alert' id="msgModal"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn-excluir btn btn-success">Confirmar</button>
            </div>
        </form>
    </div>
</div>