<div class="modal fade" id="modalCreditoBaixa" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Lista de Devolução</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="teste">
                <div class="alert alert-danger d-flex align-items-center d-none" id="alert-dev" role="alert">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <h6 class="msg">Para confirmar, selecione uma devolução!</h6>
                </div>
                <div id="modal-dev">
                    <div id="scroll-dev">

                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirm-dev">Confirmar</button>
            </div>
        </div>
    </div>
</div>