{% extends "base.html" %}
{% block conteudo %}
    <h4 class="titulo-pagina">Parâmetros para o Relatório de Consistência</h4>
    <br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#parCli" type="button" role="tab" aria-controls="parCli" aria-selected="true">Periodo</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#parVend" type="button" role="tab" aria-controls="parVend" aria-selected="false">Cliente</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="parCli" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <br>
            <div class="container">
                <form id="rcorners2" class="container" action="/impressao-consistencia" method="POST" >
                    <div class="row mb-2">
                        <div class="data-observ">
                            <label>* Data do lançamento do título</label>
                        </div>
                        <div class="col-1" id="dt" style="align-items: center;">
                            <h6>De</h6>
                        </div>
                        <div class="col-3">
                            <input type="date" class="form-control" style="text-transform: uppercase;" name="dataDe" id="dataDe" maxlength="50" size="50" 
                            tabindex="3" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1" id="dt" style="align-items: center;">
                            <h6>Até</h6>
                        </div>
                        <div class="col-3">
                            <input type="date" class="form-control" style="text-transform: uppercase;" name="dataAte" id="dataAte" maxlength="50" size="50" 
                            tabindex="3" autocomplete="off" required>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="btn-position">
                        <input class="btn btn-outline-primary btn-sm" type="submit" value="Gerar" formtarget="_blank">
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="parVend" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br>
            <div class="container">
                <form id="rcorners2" class="container" action="/impressao-consistencia" method="POST" >
                    <div class="row mb-2">
                        <div class="data-observ">
                            <label>* Data do lançamento do título</label>
                        </div>
                        <div class="col-1" id="dt" style="align-items: center;">
                            <h6>De</h6>
                        </div>
                        <div class="col-3">
                            <input type="date" class="form-control" style="text-transform: uppercase;" name="dataDeCli" id="dataDe" maxlength="50" size="50" 
                            tabindex="3" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1" id="dt" style="align-items: center;">
                            <h6>Até</h6>
                        </div>
                        <div class="col-3">
                            <input type="date" class="form-control" style="text-transform: uppercase;" name="dataAteCli" id="dataAte" maxlength="50" size="50" 
                            tabindex="3" autocomplete="off" required>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="btn-position">
                        <input class="btn btn-outline-primary btn-sm" type="submit" value="Gerar" formtarget="_blank">
                    </div>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}