{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
    <!-- Exibe mensagem que foi enviado pelo Back -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    window.setTimeout(function() {
                        $(".alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); 
                        });
                    }, 8000);
                </script>
                <div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
                    {% if category == "success" %}
                        <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                    <h6>{{ message }}</h6>
                    <div class="progress active"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-xxl">
            <div class="card">
                <div class="container">
                    <form action="/impressao-observacao" method="POST">
                        <div class="row mb-2 mt-3">
                            <div class="data-observ">
                                <label>* Data da baixa do título</label>
                            </div>
                            <div class="col-1" id="dt" style="align-items: center;">
                                <h6>De</h6>
                            </div>
                            <div class="col-3">
                                <input type="date" class="form-control" style="text-transform: uppercase;" name="dataDe" id="dataDe" maxlength="50" size="50" 
                                tabindex="3" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-1" id="dt" style="align-items: center;">
                                <h6>Até</h6>
                            </div>
                            <div class="col-3">
                                <input type="date" class="form-control" style="text-transform: uppercase;" name="dataAte" id="dataAte" maxlength="50" size="50" 
                                tabindex="3" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="btn-position">
                            <input class="btn btn-primary" type="submit" value="Gerar" formtarget="_blank">
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </div>
{% endblock %}