<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>GEF III</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo3.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/boxicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/apex-charts/apexcharts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleTable.css') }}">

    <!-- Bloco para a head -->
    {% block head %}
    {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/grid/gridjs.umd.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/apex-charts/apexcharts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jqvmap/jquery.vmap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery-knob/jquery.knob.min.js') }}"></script>
</head>

<body {% if session.base == 'TESTE' %}style="background-color: #effd9e;"{% endif %}>
    {% include "public/modal/modalTrocaFilial.html" %}
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <img style="width: 35%;" src="{{ url_for('static', filename='img/logo3.png') }}" id="icon"
                            alt="User Icon" />
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">GEF III</span>
                    </a>
                    <a href="javascript:void(0);"
                        class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <li class="menu-item {% if context.active == 'dashboard' %}active{% endif %}">
                        <a href="{{ url_for('dashboardBlue.dashboard') }}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>
                    <li class="menu-item {% if context.active in ['cliente', 'vendedor', 'titulo'] %}open active{% endif %}">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-add-to-queue"></i>
                            <div data-i18n="Layouts">Cadastros</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item {% if context.active == 'cliente' %}active{% endif %}">
                                <a href="{{ url_for('clienteBlue.renderListaClientes') }}" class="menu-link">
                                    <div data-i18n="Without menu">Cliente</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'vendedor' %}active{% endif %}">
                                <a href="{{ url_for('vendedorBlue.renderListaVendedores') }}" class="menu-link">
                                    <div data-i18n="Without navbar">Vendedor</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'titulo' %}active{% endif %}">
                                <a href="{{ url_for('tituloBlue.renderListaTitulos') }}" class="menu-link">
                                    <div data-i18n="Container">Título</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item {% if context.active in ['baixa', 'devolucao', 'estorno', 'observacao'] %}open active{% endif %}">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-trending-up"></i>
                            <div data-i18n="Layouts">Movimentos</div>
                            {% if g.qtdeAtraso > 0 %} <span class="alert-menu-item">{{ g.qtdeAtraso }}</span> {% endif %}
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item {% if context.active == 'baixa' %}active{% endif %}">
                                <a href="{{ url_for('baixaBlue.renderListaBaixas') }}" class="menu-link">
                                    <div data-i18n="Without menu">Baixas</div>
                                    {% if g.qtdeAtraso > 0 %} <span class="alert-menu-item">{{ g.qtdeAtraso }}</span> {% endif %}
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'estorno' %}active{% endif %}">
                                <a href="{{ url_for('estornoBlue.renderListaEstorno') }}" class="menu-link">
                                    <div data-i18n="Container">Estornos</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'devolucao' %}active{% endif %}">
                                <a href="{{ url_for('devolucaoBlue.listageDevolucoes') }}" class="menu-link">
                                    <div data-i18n="Without navbar">Devoluções</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'observacao' %}active{% endif %}">
                                <a href="{{ url_for('observacaoBlue.renderListaObservacoes') }}" class="menu-link">
                                    <div data-i18n="Container">Observações</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item {% if context.active in ['relatReceber', 'relatRecebidos', 'relatDev', 'relatComi', 'relatConsis', 'relatObs'] %}open active{% endif %}">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-file"></i>
                            <div data-i18n="Layouts">Relatórios</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item {% if context.active == 'relatReceber' %}active{% endif %}">
                                <a href="{{ url_for('relatorioBlue.renderRelatReceber') }}" class="menu-link">
                                    <div data-i18n="Without menu">Títulos a Receber</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'relatRecebidos' %}active{% endif %}">
                                <a href="{{ url_for('relatorioBlue.renderRelatRecebidos') }}" class="menu-link">
                                    <div data-i18n="Without navbar">Títulos Recebidos</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'relatDev' %}active{% endif %}">
                                <a href="{{ url_for('relatorioBlue.renderRelatDevolucao') }}" class="menu-link">
                                    <div data-i18n="Container">Devoluções</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'relatComi' %}active{% endif %}">
                                <a href="{{ url_for('relatorioBlue.renderRelatComissao') }}" class="menu-link">
                                    <div data-i18n="Container">Comissões</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'relatConsis' %}active{% endif %}">
                                <a href="{{ url_for('relatorioBlue.renderRelatConsistencia') }}" class="menu-link">
                                    <div data-i18n="Container">Consistência</div>
                                </a>
                            </li>
                            <li class="menu-item {% if context.active == 'relatObs' %}active{% endif %}">
                                <a href="{{ url_for('relatorioBlue.renderRelatObservacao') }}" class="menu-link">
                                    <div data-i18n="Container">Observações</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if session.usuario.admin %}
                        <li class="menu-item {% if context.active == 'usuario' %}active{% endif %}">
                            <a href="{{ url_for('usuarioBlue.renderListaUsuarios') }}" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                                <div>Usuários</div>
                            </a>
                        </li>
                        <li class="menu-item {% if context.active == 'parametros' %}active{% endif %}">
                            <a href="index.html" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-slider-alt"></i>
                                <div>Parâmetros</div>
                            </a>
                        </li>
                    {% endif %} 
                </ul>
            </aside>
            <div class="layout-page">
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <div class="navbar-nav align-items-center">
                            <div class="d-flex align-items-center justify-content-center filial">
                                <span>FILIAL: {% if session.filial == 1 %} MORUNGABA {% else %} VOTORANTIM {% endif %}</span>
                            </div>
                        </div>
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <li class="nav-item justify-content-end">
                            </li>
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="{{ url_for('static', filename='img/Avatar.png') }}" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="{{ url_for('static', filename='img/Avatar.png') }}" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">{{ session.usuario.nome }}</span>
                                                    {% if session.usuario.admin %}
                                                        <small class="text-muted">Admin</small>
                                                    {% else %}
                                                        <small class="text-muted">Usuário</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item clicavel" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#backDropModalFilial">
                                            <i class="bx bx-transfer-alt me-2"></i>
                                            <span class="align-middle">Trocar de Filial</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('autenticacaoBlue.logout') }}">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Sair</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        {% block conteudo %}
                        {% endblock %}
                    </div>
                    <footer class="content-footer footer">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                            </div>
                            <div>
                                <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank" class="footer-link me-4">Documentation</a>
                                GEFIII 2.0.0
                            </div>
                        </div>
                      </footer>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='plugins/chart/chart.umd.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/popper/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    {% block script %}
    {% endblock %}

</body>

</html>