{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
<div class="row">
    <!-- Linha 1 -->
    <div class="col-lg-6 col-md-4 order-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="{{ url_for('static', filename='img/linha.png') }}" alt="Credit Card" class="rounded" />
                            </div>
                        </div>
                        <span>Fio Morungaba</span>
                        <h3 class="card-title text-nowrap mb-1">{{ context.valoresCalculo.FIOM.valor | real }}</h3>
                        {% if context.valoresCalculo.FIOM.porcentagem > 0 %}
                            <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{ context.valoresCalculo.FIOM.porcentagem }}%
                            </small>
                        {% elif context.valoresCalculo.FIOM.porcentagem == 0 %}
                            <small class="text-primary fw-semibold">
                                <i class='bx bx-minus'></i> {{ context.valoresCalculo.FIOM.porcentagem }}%
                            </small>
                        {% else %}
                            <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i> {{ context.valoresCalculo.FIOM.porcentagem }}%
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="{{ url_for('static', filename='img/fardo.png') }}" alt="Credit Card" class="rounded" />
                            </div>
                        </div>
                        <span>Resíduos Morungaba</span>
                        <h3 class="card-title text-nowrap mb-1">{{ context.valoresCalculo.RESM.valor | real }}</h3>
                        {% if context.valoresCalculo.RESM.porcentagem > 0 %}
                            <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{ context.valoresCalculo.RESM.porcentagem }}%
                            </small>
                        {% elif context.valoresCalculo.RESM.porcentagem == 0 %}
                            <small class="text-primary fw-semibold">
                                <i class='bx bx-minus'></i> {{ context.valoresCalculo.RESM.porcentagem }}%
                            </small>
                        {% else %}
                            <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i> {{ context.valoresCalculo.RESM.porcentagem }}%
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-4 order-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="{{ url_for('static', filename='img/linha.png') }}" alt="Credit Card" class="rounded" />
                            </div>
                        </div>
                        <span>Fio Votorantim</span>
                        <h3 class="card-title text-nowrap mb-1">{{ context.valoresCalculo.FIOV.valor | real }}</h3>
                        {% if context.valoresCalculo.FIOV.porcentagem > 0 %}
                            <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{ context.valoresCalculo.FIOV.porcentagem }}%
                            </small>
                        {% elif context.valoresCalculo.FIOV.porcentagem == 0 %}
                            <small class="text-primary fw-semibold">
                                <i class='bx bx-minus'></i> {{ context.valoresCalculo.FIOV.porcentagem }}%
                            </small>
                        {% else %}
                            <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i> {{ context.valoresCalculo.FIOV.porcentagem }}%
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="{{ url_for('static', filename='img/tecido.png') }}" alt="Credit Card" class="rounded" />
                            </div>
                        </div>
                        <span>Tecidos Votorantim</span>
                        <h3 class="card-title text-nowrap mb-1">{{ context.valoresCalculo.TECV.valor | real }}</h3>
                        {% if context.valoresCalculo.TECV.porcentagem > 0 %}
                            <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{ context.valoresCalculo.TECV.porcentagem }}%
                            </small>
                        {% elif context.valoresCalculo.TECV.porcentagem == 0 %}
                            <small class="text-primary fw-semibold">
                                <i class='bx bx-minus'></i> {{ context.valoresCalculo.TECV.porcentagem }}%
                            </small>
                        {% else %}
                            <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i> {{ context.valoresCalculo.TECV.porcentagem }}%
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Termina Linha 1 -->

    <!-- Linha 2 -->
    <div class="col-lg-12 col-md-4 order-1">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="{{ url_for('static', filename='img/malha.png') }}" alt="Credit Card" class="rounded"/>
                            </div>
                        </div>
                        <span>Malhas Votorantim</span>
                        <h3 class="card-title text-nowrap mb-1">{{ context.valoresCalculo.MALV.valor | real }}</h3>
                        {% if context.valoresCalculo.MALV.porcentagem > 0 %}
                            <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{ context.valoresCalculo.MALV.porcentagem }}%
                            </small>
                        {% elif context.valoresCalculo.MALV.porcentagem == 0 %}
                            <small class="text-primary fw-semibold">
                                <i class='bx bx-minus'></i> {{ context.valoresCalculo.MALV.porcentagem }}%
                            </small>
                        {% else %}
                            <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i> {{ context.valoresCalculo.MALV.porcentagem }}%
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="{{ url_for('static', filename='img/fardo.png') }}" alt="Credit Card" class="rounded" />
                            </div>
                        </div>
                        <span>Resíduos Votorantim</span>
                        <h3 class="card-title text-nowrap mb-1">{{ context.valoresCalculo.RESV.valor | real }}</h3>
                        {% if context.valoresCalculo.RESV.porcentagem > 0 %}
                            <small class="text-success fw-semibold">
                                <i class="bx bx-up-arrow-alt"></i> +{{ context.valoresCalculo.RESV.porcentagem }}%
                            </small>
                        {% elif context.valoresCalculo.RESV.porcentagem == 0 %}
                            <small class="text-primary fw-semibold">
                                <i class='bx bx-minus'></i> {{ context.valoresCalculo.RESV.porcentagem }}%
                            </small>
                        {% else %}
                            <small class="text-danger fw-semibold">
                                <i class="bx bx-down-arrow-alt"></i> {{ context.valoresCalculo.RESV.porcentagem }}%
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Termina Linha 2 -->
</div>
<div class="row">
    <div class="col-lg-7 col-md-12 order-1">
        <div class="col-lg-12 order-2 order-md-12 order-lg-12 mb-4">
            <div class="card">
                <div class="row row-bordered g-0">
                    <canvas id="grafico-barras-comparativo"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12 order-1">
        <div class="col-lg-12 order-2 order-md-12 order-lg-12 mb-4">
            <div class="card">
                <div class="row row-bordered g-0">
                    <canvas id="grafico-pizza-comparativo"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 order-1">
        <div class="col-md-12 col-lg-12 order-2 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h4 class="card-title m-0 me-2">Últimas 5 Baixas</h4>
                </div>
                <div class="card-body">
                    <ul class="p-0 m-0">
                        {% for baixa in context.ultimasBaixas %}
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    {% if baixa.m_segmento == 1  %}
                                        <img src="{{ url_for('static', filename='img/linha.png') }}" alt="Credit Card" class="rounded list-dash-fio"/>
                                    {% elif baixa.m_segmento == 2 %}
                                        <img src="{{ url_for('static', filename='img/fardo.png') }}" alt="Credit Card" class="rounded list-dash-res"/>
                                    {% elif baixa.m_segmento == 3 %}
                                        <img src="{{ url_for('static', filename='img/linha.png') }}" alt="Credit Card" class="rounded list-dash-fio"/>
                                    {% elif baixa.m_segmento == 4 %}
                                        <img src="{{ url_for('static', filename='img/tecido.png') }}" alt="Credit Card" class="rounded list-dash-tec"/> 
                                    {% elif baixa.m_segmento == 5 %}
                                        <img src="{{ url_for('static', filename='img/malha.png') }}" alt="Credit Card" class="rounded list-dash-mal"/> 
                                    {% else %}
                                        <img src="{{ url_for('static', filename='img/fardo.png') }}" alt="Credit Card" class="rounded list-dash-res"/>
                                    {% endif %}
                                    
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <small class="text-muted d-block mb-1">Nome do caba</small>
                                        <h7 class="mb-0">{{ baixa.m_numDoc }} / {{ baixa.m_parcela }} - {{ baixa.m_docRef }}</h7>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                        <h6 class="mb-0">{{ baixa.m_valor | real }}</h6>
                                        <span class="text-muted">{{ baixa.m_tipoBaixa }}</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-12 order-1 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#FIOM" aria-controls="FIOM" aria-selected="true">
                            FIOM
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#RESM" aria-controls="RESM">
                            RESM
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#FIOV" aria-controls="FIOV">
                            FIOV
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#TECV" aria-controls="TECV">
                            TECV
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#MALV" aria-controls="MALV">
                            MALV
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#RESV" aria-controls="RESV">
                            RESV
                        </button>
                    </li>
                </ul>
            </div>
            <div class="card-body px-0">
                <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="FIOM" role="tabpanel">
                        <div class="ps-4">
                            <h5>Fio Morungaba</h5>
                        </div>
                        <div class="d-flex p-4 pt-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="{{ url_for('static', filename='img/linha.png') }}" alt="Credit Card" class="rounded list-dash-fio"/>
                            </div>
                            <div>
                                <small class="text-muted d-block">Total Balance</small>
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">{{ context.valoresCalculo.FIOM.valor | real }}</h6>
                                    {% if context.valoresCalculo.FIOM.porcentagem > 0 %}
                                        <small class="text-success fw-semibold">
                                            <i class="bx bx-chevron-up"></i> 
                                            {{ context.valoresCalculo.FIOM.porcentagem }}%
                                        </small>
                                    {% elif context.valoresCalculo.FIOM.porcentagem == 0 %}
                                        <small class="text-primary fw-semibold">
                                            <i class='bx bx-minus'></i>
                                            {{ context.valoresCalculo.FIOM.porcentagem }}%
                                        </small>
                                    {% else %}
                                        <small class="text-danger fw-semibold">
                                            <i class="bx bx-chevron-down"></i> 
                                            {{ context.valoresCalculo.FIOM.porcentagem }}%
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="chartFIOM"></div>
                    </div>
                    <div class="tab-pane fade show" id="RESM" role="tabpanel">
                        <div class="ps-4">
                            <h5>Resíduos Morungaba</h5>
                        </div>
                        <div class="d-flex p-4 pt-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="{{ url_for('static', filename='img/fardo.png') }}" alt="Credit Card" class="rounded list-dash-res"/>
                            </div>
                            <div>
                                <small class="text-muted d-block">Total Balance</small>
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">{{ context.valoresCalculo.RESM.valor | real }}</h6>
                                    {% if context.valoresCalculo.RESM.porcentagem > 0 %}
                                        <small class="text-success fw-semibold">
                                            <i class="bx bx-chevron-up"></i> 
                                            {{ context.valoresCalculo.RESM.porcentagem }}%
                                        </small>
                                    {% elif context.valoresCalculo.RESM.porcentagem == 0 %}
                                        <small class="text-primary fw-semibold">
                                            <i class='bx bx-minus'></i>
                                            {{ context.valoresCalculo.RESM.porcentagem }}%
                                        </small>
                                    {% else %}
                                        <small class="text-danger fw-semibold">
                                            <i class="bx bx-chevron-down"></i> 
                                            {{ context.valoresCalculo.RESM.porcentagem }}%
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="chartRESM"></div>
                    </div>
                    <div class="tab-pane fade show" id="FIOV" role="tabpanel">
                        <div class="ps-4">
                            <h5>Fio Votorantim</h5>
                        </div>
                        <div class="d-flex p-4 pt-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="{{ url_for('static', filename='img/linha.png') }}" alt="Credit Card" class="rounded list-dash-fio"/>
                            </div>
                            <div>
                                <small class="text-muted d-block">Total Balance</small>
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">{{ context.valoresCalculo.FIOV.valor | real }}</h6>
                                    {% if context.valoresCalculo.FIOV.porcentagem > 0 %}
                                        <small class="text-success fw-semibold">
                                            <i class="bx bx-chevron-up"></i> 
                                            {{ context.valoresCalculo.FIOV.porcentagem }}%
                                        </small>
                                    {% elif context.valoresCalculo.FIOV.porcentagem == 0 %}
                                        <small class="text-primary fw-semibold">
                                            <i class='bx bx-minus'></i>
                                            {{ context.valoresCalculo.FIOV.porcentagem }}%
                                        </small>
                                    {% else %}
                                        <small class="text-danger fw-semibold">
                                            <i class="bx bx-chevron-down"></i> 
                                            {{ context.valoresCalculo.FIOV.porcentagem }}%
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="chartFIOV"></div>
                    </div>
                    <div class="tab-pane fade show" id="TECV" role="tabpanel">
                        <div class="ps-4">
                            <h5>Tecido Votorantim</h5>
                        </div>
                        <div class="d-flex p-4 pt-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="{{ url_for('static', filename='img/tecido.png') }}" alt="Credit Card" class="rounded list-dash-tec"/>
                            </div>
                            <div>
                                <small class="text-muted d-block">Total Balance</small>
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">{{ context.valoresCalculo.TECV.valor | real }}</h6>
                                    {% if context.valoresCalculo.TECV.porcentagem > 0 %}
                                        <small class="text-success fw-semibold">
                                            <i class="bx bx-chevron-up"></i> 
                                            {{ context.valoresCalculo.TECV.porcentagem }}%
                                        </small>
                                    {% elif context.valoresCalculo.TECV.porcentagem == 0 %}
                                        <small class="text-primary fw-semibold">
                                            <i class='bx bx-minus'></i>
                                            {{ context.valoresCalculo.TECV.porcentagem }}%
                                        </small>
                                    {% else %}
                                        <small class="text-danger fw-semibold">
                                            <i class="bx bx-chevron-down"></i> 
                                            {{ context.valoresCalculo.TECV.porcentagem }}%
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="chartTECV"></div>
                    </div>
                    <div class="tab-pane fade show" id="MALV" role="tabpanel">
                        <div class="ps-4">
                            <h5>Malha Votorantim</h5>
                        </div>
                        <div class="d-flex p-4 pt-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="{{ url_for('static', filename='img/malha.png') }}" alt="Credit Card" class="rounded list-dash-mal"/> 
                            </div>
                            <div>
                                <small class="text-muted d-block">Total Balance</small>
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">{{ context.valoresCalculo.MALV.valor | real }}</h6>
                                    {% if context.valoresCalculo.MALV.porcentagem > 0 %}
                                        <small class="text-success fw-semibold">
                                            <i class="bx bx-chevron-up"></i> 
                                            {{ context.valoresCalculo.MALV.porcentagem }}%
                                        </small>
                                    {% elif context.valoresCalculo.MALV.porcentagem == 0 %}
                                        <small class="text-primary fw-semibold">
                                            <i class='bx bx-minus'></i>
                                            {{ context.valoresCalculo.MALV.porcentagem }}%
                                        </small>
                                    {% else %}
                                        <small class="text-danger fw-semibold">
                                            <i class="bx bx-chevron-down"></i> 
                                            {{ context.valoresCalculo.MALV.porcentagem }}%
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="chartMALV"></div>
                    </div>
                    <div class="tab-pane fade show" id="RESV" role="tabpanel">
                        <div class="ps-4">
                            <h5>Resíduos Votorantim</h5>
                        </div>
                        <div class="d-flex p-4 pt-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="{{ url_for('static', filename='img/fardo.png') }}" alt="Credit Card" class="rounded list-dash-res"/>
                            </div>
                            <div>
                                <small class="text-muted d-block">Total Balance</small>
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">{{ context.valoresCalculo.RESV.valor | real }}</h6>
                                    {% if context.valoresCalculo.RESV.porcentagem > 0 %}
                                        <small class="text-success fw-semibold">
                                            <i class="bx bx-chevron-up"></i> 
                                            {{ context.valoresCalculo.RESV.porcentagem }}%
                                        </small>
                                    {% elif context.valoresCalculo.RESV.porcentagem == 0 %}
                                        <small class="text-primary fw-semibold">
                                            <i class='bx bx-minus'></i>
                                            {{ context.valoresCalculo.RESV.porcentagem }}%
                                        </small>
                                    {% else %}
                                        <small class="text-danger fw-semibold">
                                            <i class="bx bx-chevron-down"></i> 
                                            {{ context.valoresCalculo.RESV.porcentagem }}%
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="chartRESV"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var labelsChart = ["FIOM {{ context.valoresCalculo.FIOM.valor | real }}", "RESM {{ context.valoresCalculo.RESM.valor | real }}", "FIOV {{ context.valoresCalculo.FIOV.valor | real }}", "TECV {{ context.valoresCalculo.TECV.valor | real }}", "MALV {{ context.valoresCalculo.MALV.valor | real }}", "RESV {{ context.valoresCalculo.RESV.valor | real }}"];
    var dataChart = [{{ context.valoresCalculo.FIOM.valor}}, {{ context.valoresCalculo.RESM.valor}}, {{ context.valoresCalculo.FIOV.valor}}, {{ context.valoresCalculo.TECV.valor}}, {{ context.valoresCalculo.MALV.valor}}, {{ context.valoresCalculo.RESV.valor}}];
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard/dataCharts.js') }}"></script>
{% for seg in context.ultimosMesesSeg %}
<script>
    const incomeChartEl{{seg.sigla}} = document.querySelector('#chart{{seg.sigla}}');
    const incomeChartConfig{{seg.sigla}} = {
        series: [{
            data: {{ seg.data }},
        }],
        chart: {
            height: 215,
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 2,
            curve: 'smooth'
        },
        legend: {
            show: false
        },
        markers: {
            size: 6,
            colors: 'transparent',
            strokeColors: 'transparent',
            strokeWidth: 4,
            discrete: [{
                fillColor: '#8A7EF0',
                seriesIndex: 0,
                dataPointIndex: 7,
                strokeColor: '#8A7EF0',
                strokeWidth: 2,
                size: 6,
                radius: 8
            }],
            hover: {
                size: 7
            }
        },
        colors: ['#8A7EF0'],
        fill: {
            type: 'gradient',
            gradient: {
                shade: '#8A7EF0',
                shadeIntensity: 0.6,
                opacityFrom: 0.5,
                opacityTo: 0.5,
                stops: [0, 95, 100]
            }
        },
        grid: {
            borderColor: '#8A7EF0',
            strokeDashArray: 3,
            padding: {
                top: -20,
                bottom: -8,
                left: -10,
                right: 8
            }
        },
        xaxis: {
            categories: [{% for mes in seg.meses %} "{{ mes }}", {% endfor %}],
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false
            },
            labels: {
                show: true,
                style: {
                    fontSize: '13px',
                    colors: '#8A7EF0'
                }
            }
        },
        yaxis: {
            labels: {
                show: false
            },
            min: 10,
            max: {{ seg.max }},
            tickAmount: 4
        },
        annotations: {
            points: [
                {% for valor in seg.data %}
                    {
                        x: '{{ seg.meses[loop.index0] }}', // O valor do eixo x
                        y: {{ valor }}, // O valor do eixo y
                        marker: {
                            size: 6,
                            fillColor: '#8A7EF0',
                            strokeColor: '#8A7EF0',
                            radius: 8
                        },
                        label: {
                            borderColor: '#8A7EF0',
                            offsetY: 0,
                            style: {
                                color: '#fff',
                                background: '#8A7EF0',
                                fontSize: '11.5px',
                            },
                            text: 'Valor: {{ valor | real }}' // Texto do rótulo
                        }
                    },
                {% endfor %}
            ]
        }
    };
    const incomeChartEl2{{seg.sigla}} = new ApexCharts(incomeChartEl{{seg.sigla}}, incomeChartConfig{{seg.sigla}});
    incomeChartEl2{{seg.sigla}}.render();
</script>
{% endfor %}
{% endblock %}