{% extends "base.html" %}
{% block conteudo %}
    <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
    </div>
    <h4 class="titulo-pagina">{{ contexto.titulo }}</h4><br>
    <div class="container-form">
        <form id="rcorners2" class="container" style="width: 130%;" onsubmit="return validaFilial()" action="/insert-titulo" method="POST">
            <h5 id="titulo1">Dados do Título</h5>
            <div class="container" id="cont1">
                <div class="row">
                    <div class="col-2">
                        <label for="">N. do Documento</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="numDoc" id="numDoc" maxlength="40" size="40" 
                        tabindex="1" autocomplete="off" required value="{% if contexto.numDoc == None %}1{% else %}{{ contexto.numDoc.t_numDoc + 1 }}{% endif %}" readonly>
                    </div>
                    <div class="col-2">
                        <label for="">Documento Ref.</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="docRef" id="docRef" maxlength="40" size="40" 
                        tabindex="1" autocomplete="off" required value="">
                    </div>
                    <div class="col-2">
                        <label for="">Segmento</label>
                        <select class="form-select form-select-sm border-radius-input" type="text" tabindex="2" name="segmento" id="segmento" required>
                            <option value=""></option>
                            <!-- Loop para adicionar dinamicamente os segmentos cadastrados -->
                            {% for segmento in contexto.segmentos %}
                                <option value="{{ segmento.s_id }}">{{segmento.s_abrev}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="">Data do Lançamaneto</label>
                        <input type="date" class="form-control" style="text-transform: uppercase;" name="dataLanc" id="dataLanc" maxlength="50" size="50" 
                        tabindex="3" autocomplete="off" required value="{{ contexto.data }}">
                    </div>
                    <div class="col-2">
                        <label for="">Comissão</label>
                        <input type="number" class="form-control" style="text-transform: uppercase;" name="comissao" id="comissao" maxlength="40" size="40" 
                        tabindex="4" step="0.01" autocomplete="off" required>
                    </div> 
                </div>
                <br>        
                <div class="row">
                    <div class="col-6">
                        <label for="">Cliente</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="cliente" id="cliente" maxlength="10" size="10" 
                        tabindex="5" autocomplete="off" required>
                    </div>
                    <div class="col-6">
                        <label for="">Vendedor</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="vendedor" id="vendedor" maxlength="10" size="10" 
                        tabindex="6" autocomplete="off" required>
                    </div>                     
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label for="">Valor Total</label>
                        <input type="number" class="form-control" style="text-transform: uppercase;" name="valorTotal" id="valorTotal" maxlength="10" size="10" 
                        tabindex="7" step="0.01" autocomplete="off" required>
                    </div>
                    <div class="col-2">
                        <label for="">Parcelas</label>
                        <select class="form-select form-select-sm border-radius-input" type="text" tabindex="8" name="parcelas" id="parcelas" style="max-width:100%;" onchange="parcelamento(this)" required>
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="">Filial</label>
                        <select class="form-select form-select-sm border-radius-input" type="text" tabindex="8" name="filialSelc" id="filialSelc" style="max-width:100%;" required>
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" style="text-transform: uppercase; display: none;" name="filial" id="filial" value="{{ session.filial }}">
                    </div>    
                </div> 
                <br><br>
            </div>
            <h5 id="titulo2">Dados das Parcelas</h5>
            <div class="container" id="cont2">
                <div class="row justify-content-md-center" id="rowParcelamento">  
                </div>
            </div>
            <br><br>
            <div class="btn-position">
                <input type="submit" class="btn btn-outline-success" id="btnGravar" value="{{ contexto.botao }}" tabindex="9">
                <a href="javascript:history.back()" class="btn btn-outline-danger" type="button" name="btnCancelar" id="btnCancelar" tabindex="10">Cancelar</a>
            </div>
        </form>
    </div>
    
    {% block script %} 
        <script>
            $("#vendedor").keyup(function(){
                var nomeVend = this.value
                if (nomeVend.length >= 1){
                    
                    var nomes=[]
                    function carregaNomes(){
                        $.getJSON(`/vendedores/${nomeVend}`, function(data, status, xhr){
                            for (var i = 0; i < data.length; i++){
                                nomes.push(data[i].nome)
                            }
                        });
                    }
                    carregaNomes();

                    $("#vendedor").autocomplete({
                        source: nomes,
                    });

                    $(".ui-helper-hidden-accessible").css("display", "none")
                }
            })
        </script>

        <script>
            $("#cliente").keyup(function(){
                var nomeCli = this.value
                if (nomeCli.length >= 2){

                    var nomes=[]
                    function carregaNomesCli(){
                        $.getJSON(`/clientes/${nomeCli}`, function(data, status, xhr){
                            for (var i = 0; i < data.length; i++){
                                nomes.push(data[i].nome)
                            }
                        });
                    }
                    carregaNomesCli();

                    $("#cliente").autocomplete({
                        source: nomes,
                    });

                    $(".ui-helper-hidden-accessible").css("display", "none")
                }
            })
        </script>

        <script>
            $('#docRef').keyup(function(e){
                if (/\D/g.test(this.value)){
                    // Filtro para digitar apenas números no input
                    this.value = this.value.replace(/\D/g, '');
                }
            });
        </script>
    {% endblock %}

{% endblock %}