{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
<div class="alert alert-danger d-flex align-items-center d-none" role="alert">
    <i class="fa-solid fa-circle-exclamation"></i>
    <h6 class="msg"></h6>
</div>
<form onsubmit="return validaFilial()" id="form-titulo">
    <div class="row mb-1">
        <div class="col-xxl">
            <div class="card p-4">
                <h5 class="titulo-card">Dados do Título</h5>
                <div class="row">
                    <div class="col-2">
                        <label for="">N. do Documento</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="numDoc"
                            id="numDoc" maxlength="40" size="40" tabindex="1" autocomplete="off" required
                            value="{% if context.numDoc == None %}1{% else %}{{ context.numDoc.t_numDoc + 1 }}{% endif %}"
                            readonly>
                    </div>
                    <div class="col-2">
                        <label for="">Documento Ref.</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="docRef"
                            id="docRef" maxlength="10" size="40" tabindex="1" autocomplete="off" required value="">
                    </div>
                    <div class="col-2">
                        <label for="">Segmento</label>
                        <select class="form-select" type="text" tabindex="2"
                            name="segmento" id="segmento" required>
                            <option value=""></option>
                            <!-- Loop para adicionar dinamicamente os segmentos cadastrados -->
                            {% for segmento in context.segmentos %}
                            <option value="{{ segmento.s_id }}">{{segmento.s_abrev}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="">Data do Lançamaneto</label>
                        <input type="date" class="form-control" style="text-transform: uppercase;" name="dataLanc"
                            id="dataLanc" maxlength="50" size="50" tabindex="3" autocomplete="off" required
                            value="{{ context.data }}">
                    </div>
                    <div class="col-2">
                        <label for="">Comissão</label>
                        <input type="number" class="form-control" style="text-transform: uppercase;" name="comissao"
                            id="comissao" maxlength="40" size="40" tabindex="4" step="0.01" autocomplete="off" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <label for="">Cliente</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="cliente"
                            id="cliente" maxlength="80" size="10" tabindex="5" autocomplete="off" required>
                    </div>
                    <div class="col-6">
                        <label for="">Vendedor</label>
                        <input type="text" class="form-control" style="text-transform: uppercase;" name="vendedor"
                            id="vendedor" maxlength="80" size="10" tabindex="6" autocomplete="off" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label for="">Valor Total</label>
                        <input type="number" class="form-control" style="text-transform: uppercase;" name="valorTotal"
                            id="valorTotal" maxlength="10" size="10" tabindex="7" step="0.01" autocomplete="off"
                            required>
                    </div>
                    <div class="col-2">
                        <label for="">Parcelas</label>
                        <select class="form-select" type="text" tabindex="8"
                            name="parcelas" id="parcelas" onchange="parcelamento(this)" required>
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="">Filial</label>
                        <select class="form-select" type="text" tabindex="8"
                            name="filialSelc" id="filialSelc" required>
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" style="text-transform: uppercase; display: none;"
                            name="filial" id="filial" value="{{ session.filial }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl">
            <div class="card p-4">
                <h5 class="titulo-card">Dados das Parcelas</h5>
                <div class="container mb-5" id="cont2">
                    <div class="row justify-content-md-center" id="rowParcelamento">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('tituloBlue.renderListaTitulos') }}" class="btn btn-danger" type="button"
                        name="btnCancelar" id="btnCancelar" tabindex="9">Cancelar</a>
                    <input type="submit" class="btn btn-success" id="btnGravar" value="Cadastrar">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock conteudo %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/titulo/funcoes.js') }}"></script>

<script>
    $("#vendedor").keyup(function () {
        var nomeVend = this.value
        if (nomeVend.length >= 1) {
            $.getJSON(`/vendedor/vendedores/${nomeVend}`, function (data, status, xhr) {
                var nomes = data.map(function (item) {
                    return item.nome;
                });

                $("#vendedor").autocomplete({
                    source: nomes,
                });
            });

            $(".ui-helper-hidden-accessible").css("display", "none")
        }
    })
</script>

<script>
    $("#cliente").keyup(function () {
        var nomeCli = this.value
        if (nomeCli.length >= 1) {
            $.getJSON(`/cliente/clientes/${nomeCli}`, function (data, status, xhr) {
                var nomes = data.map(function (item) {
                    return item.nome;
                });

                $("#cliente").autocomplete({
                    source: nomes,
                });
            });

            $(".ui-helper-hidden-accessible").css("display", "none");
        }
    })
</script>

<script>
    $('#docRef').keyup(function (e) {
        if (/\D/g.test(this.value)) {
            // Filtro para digitar apenas números no input
            this.value = this.value.replace(/\D/g, '');
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#form-titulo').submit(function (event) {
            event.preventDefault(); // Impede o envio padrão do formulário
            const formData = $(this).serialize();

            $.ajax({
                url: "{{url_for('tituloBlue.inserirTitulo')}}",
                type: "POST",
                data: formData,
                success: function (response) {
                    window.location = "{{url_for('tituloBlue.renderListaTitulos')}}";
                },
                error: function (error) {
                    if (error.status == 400) {
                        mostraAlert();
                    } else {
                        window.location = "/error_500";
                        console.error(error);
                    }
                }
            });
        });
    });
</script>
{% endblock script %}