<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel3">Dados do Título {{ context.titulo.t_numDoc }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row mb-2">
        <div class="col-2">
            <label for="">N. do Documento</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="numDoc" id="numDoc" maxlength="40" size="40" 
            tabindex="1" autocomplete="off" required value="{{context.titulo.t_numDoc}}" readonly>
        </div>
        <div class="col-2">
            <label for="">Documento Ref.</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="docRef" id="docRef" maxlength="40" size="40" 
            tabindex="1" autocomplete="off" required value="{{context.titulo.t_docRef}}" readonly>
        </div>
        <div class="col-2">
            <label for="">Segmento</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="segmento" id="segmento" maxlength="40" size="40" 
            tabindex="1" autocomplete="off" required value="{{context.segCliVend[0].s_abrev}}" readonly>
        </div>
        <div class="col-4">
            <label for="">Data do Lançamaneto</label>
            <input type="date" class="form-control" style="text-transform: uppercase;" name="dataLanc" id="dataLanc" maxlength="50" size="50" 
            tabindex="3" autocomplete="off" required value="{{context.titulo.t_dataLanc | strftime}}" readonly>
        </div>
        <div class="col-2">
            <label for="">Comissão</label>
            <input type="number" class="form-control" style="text-transform: uppercase;" name="comissao" id="comissao" maxlength="40" size="40" 
            tabindex="4" autocomplete="off" required value="{{context.titulo.t_comissao}}" readonly>
        </div> 
    </div>        
    <div class="row mb-2">
        <div class="col-6">
            <label for="">Cliente</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="cliente" id="cliente" maxlength="10" size="10" 
            tabindex="5" autocomplete="off" required value="{{context.titulo.t_idCliente}} - {{context.segCliVend[0].c_razaosocial}}" readonly>
        </div>
        <div class="col-6">
            <label for="">Vendedor</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="vendedor" id="vendedor" maxlength="10" size="10" 
            tabindex="6" autocomplete="off" required value="{{context.titulo.t_idVendedor}} - {{context.segCliVend[0].v_nome}}" readonly>
        </div>                     
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label for="">Valor Total</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="valorTotal" id="valorTotal" maxlength="10" size="10" 
            tabindex="7" autocomplete="off" required value="{{context.segCliVend[0].valorTotal | real}}" readonly>
        </div>
        <div class="col-2">
            <label for="">Parcelas</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="parcelas" id="parcelas" maxlength="40" size="40" 
            tabindex="1" autocomplete="off" required value="{{context.segCliVend[0].parcelas}}" readonly>
        </div>
        <div class="col-2">
            <label for="">Filial</label>
            <input type="text" class="form-control" style="text-transform: uppercase;" name="filial" id="filial" maxlength="10" size="10" 
            tabindex="6" autocomplete="off" required value="{{context.titulo.t_filialOri}}" readonly>
        </div> 
    </div>
    <div class="row">
        <div class="row justify-content-md-center"> 
            <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                <label style="font-weight: 700; font-size:15px;">Num. Parcela</label> 
            </div>
            <div class="col-4">
                <label style="font-weight: 700; font-size:15px;">Valor</label>
            </div> 
            <div class="col-4"> 
                <label style="font-weight: 700; font-size:15px;">Data Vencimento</label> 
            </div>
            <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                <label style="font-weight: 700; font-size:15px;">Status</label>
            </div>
        </div>
        {% for parcela in context.parcelas %}
            <div class="row mb-2 justify-content-md-center">
                <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                    <h6 style="margin-top: 0.4rem;">x{{parcela.t_numParcela}}</h6>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" style="text-transform: uppercase;" name="valor{{parcela.t_numParcela}}" id="valor{{parcela.t_numParcela}}" maxlength="10" size="10" tabindex="4" value="{{parcela.t_valor | real}}" readonly>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" class="" style="text-transform: uppercase;" name="parcela{{parcela.t_numParcela}}" id="parcela{{parcela.t_numParcela}}" maxlength="10" size="10" tabindex="4" autocomplete="off" value="{{parcela.t_dataVenc | data}}" disabled>
                </div>
                <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                    {% if parcela.t_status == 0 %}
                        <h6 style="font-weight: 700; font-size:15px; color:#758918">Liquidado</h6>
                    {% else %}
                        <h6 style="font-weight: 700; font-size:15px; color:#c9031a">Aberto</h6>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
</div>