{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
<div class="alert alert-danger d-flex align-items-center d-none" role="alert">
    <i class="fa-solid fa-circle-exclamation"></i>
    <h6 class="msg"></h6>
</div>
<form id="form-titulo">
    <div class="row mb-1">
        <div class="col-xxl">
            <div class="card p-4">
                <h5 class="titulo-card">Dados do Título</h5>
                <div class="container" id="cont1">
                    <div class="row">
                        <div class="col-2">
                            <label for="">N. do Documento</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="numDoc"
                                id="numDoc" maxlength="40" size="40" tabindex="1" autocomplete="off" required
                                value="{{context.tituloDoc.t_numDoc}}" readonly>
                        </div>
                        <div class="col-2">
                            <label for="">Documento Ref.</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="docRef"
                                id="docRef" maxlength="40" size="40" tabindex="1" autocomplete="off" required
                                value="{{context.tituloDoc.t_docRef}}" readonly>
                        </div>
                        <div class="col-2">
                            <label for="">Segmento</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="segmento"
                                id="segmento" maxlength="40" size="40" tabindex="1" autocomplete="off" required
                                value="{{context.tituloDoc.t_segmento}}" readonly>
                        </div>
                        <div class="col-4">
                            <label for="">Data do Lançamaneto</label>
                            <input type="date" class="form-control" style="text-transform: uppercase;" name="dataLanc"
                                id="dataLanc" maxlength="50" size="50" tabindex="3" autocomplete="off" required
                                value="{{context.tituloDoc.t_dataLanc | strftime}}" readonly>
                        </div>
                        <div class="col-2">
                            <label for="">Comissão</label>
                            <input type="number" class="form-control" style="text-transform: uppercase;" name="comissao"
                                id="comissao" maxlength="40" size="40" tabindex="4" step="0.01" autocomplete="off"
                                required value="{{context.tituloDoc.t_comissao}}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Cliente</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="cliente"
                                id="cliente" maxlength="10" size="10" tabindex="5" autocomplete="off" required
                                value="{{context.tituloDoc.t_idCliente}} - {{context.tituloDoc.t_cliente.c_razaosocial}}"
                                readonly>
                        </div>
                        <div class="col-6">
                            <label for="">Vendedor</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="vendedor"
                                id="vendedor" maxlength="10" size="10" tabindex="6" autocomplete="off" required
                                value="{{context.tituloDoc.t_idVendedor}} - {{context.tituloDoc.t_vendedor.v_nome}}" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label for="">Valor Total</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="valorTotal"
                                id="valorTotal" maxlength="10" size="10" tabindex="7" autocomplete="off" required
                                value="{{context.tituloValores.valorTotal | float}}" readonly>
                        </div>
                        <div class="col-2">
                            <label for="">Parcelas</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="parcelas"
                                id="parcelas" maxlength="40" size="40" tabindex="1" autocomplete="off" required
                                value="{{context.tituloValores.parcelas}}" readonly>
                        </div>
                        <div class="col-2">
                            <label for="">Filial</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="filial"
                                id="filial" maxlength="10" size="10" tabindex="6" autocomplete="off" required
                                value="{{context.tituloDoc.t_filialOri}}" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-xxl">
            <div class="card p-4">
                <h5 class="titulo-card">Dados das Parcelas</h5>
                <div class="container mb-5">
                    <div class="row justify-content-md-center">
                        <div class="row justify-content-md-center">
                            <div class="col-2">
                                <label>Num. Parcelas</label>
                            </div>
                            <div class="col-4">
                                <label>Valor</label>
                            </div>
                            <div class="col-4">
                                <label>Data Vencimento</label>
                            </div>
                        </div>
                        <!-- Loop para adicionar dinamicamente as parcelas dp título -->
                        {% for parcela in context.parcelas %}
                            <div class="row justify-content-md-center mb-2">
                                <div class="col-2">
                                    <h6 style="margin-top: 0.4rem;">x{{parcela.t_numParcela}} R$</h6>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" style="text-transform: uppercase;"
                                        name="valor{{parcela.t_numParcela}}" id="valor{{parcela.t_numParcela}}"
                                        maxlength="10" size="10" tabindex="4" value="{{parcela.t_valor}}" readonly>
                                </div>
                                <div class="col-4">
                                    <input type="date" class="form-control" class="" style="text-transform: uppercase;"
                                        name="parcela{{parcela.t_numParcela}}" id="parcela{{parcela.t_numParcela}}"
                                        maxlength="10" size="10" tabindex="4" autocomplete="off"
                                        value="{{parcela.t_dataVenc | strftime}}" required>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="javascript:history.back()" class="btn btn-danger" type="button" name="btnCancelar"
                        id="btnCancelar" tabindex="10">Cancelar</a>
                    <input type="submit" class="btn btn-success" id="btnGravar" value="Atualizar" tabindex="9">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock conteudo %}
{% block script %}
<script>
    $(document).ready(function () {
        $('#form-titulo').submit(function (event) {
            event.preventDefault(); // Impede o envio padrão do formulário
            const formData = $(this).serialize();

            $.ajax({
                url: "{{url_for('tituloBlue.editarTitulo', doc=context.tituloDoc.t_numDoc)}}",
                type: "PUT",
                data: formData,
                success: function (response) {
                    window.location = "{{url_for('tituloBlue.renderListaTitulos')}}";
                },
                error: function (error) {
                    window.location = "/error_500";
                    console.error(error);
                    
                }
            });
        });
    });
</script>
{% endblock script %}