{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/modal/modalVisualizacao.html" %}
{% include "public/modal/modalExclusao.html" %}
    {% include "public/header.html" %}
    <!-- Exibe mensagem que foi enviado pelo Back -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    window.setTimeout(function() {
                        $(".alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); 
                        });
                    }, 8000);
                </script>
                <div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
                    {% if category == "success" %}
                        <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                    <h6>{{ message }}</h6>
                    <div class="progress active"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="conteiner-fluid d-flex justify-content-end">
        <a class="btn btn-success" href="{{ url_for('tituloBlue.renderCadastrarTitulo') }}">Cadastrar Título</a>
    </div>
    <div id="lista-titulos"></div>

{% endblock conteudo %}
{% block script %} 
<script type="text/javascript" src="{{ url_for('static', filename='js/titulo/dataTi.js') }}"></script>

<script>
    $(document).ready(function() {

        $('#modalVisu').on('show.bs.modal', function (event) {
            var modal = $(this);
            var documento = modal.data('id');
            
            $.ajax({
                url: `/titulo/view/${documento}`,
                type: 'GET',
                success: function(data) {
                    $('#corpoModalVisu').html("");
                    $('#corpoModalVisu').html(data);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).on('click', '.abrirModalVisu', function() {
        var documento = $(this).data('id');
        $('#modalVisu').data('id', documento);
        $('#modalVisu').modal('show');
    });
</script>

<script>
    $(document).ready(function() {

        $('#modalExclusao').on('show.bs.modal', function (event) {
            var modal = $(this);
            var documento = modal.data('id');
            
            $.ajax({
                url: `/titulo/${documento}`,
                type: 'GET',
                success: function(data) {
                    $('#msgModal').html("");
                    $('#msgModal').html(`Desejesa realmente excluir o título ${data.doc}`);
                },
                error: function(erro){
                    console.log(erro);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).on('click', '.btn-excluir', function() {
        var idSelecionado = $('#modalExclusao').data('id');
        $.ajax({
            url: `/titulo/excluir-titulo/${idSelecionado}`,
            type: 'DELETE',
            success: function(data) {
                location.reload();
            },
            error: function(error){
                if (error.status == 409){
                    location.reload();
                }else{
                    window.location = "/error_500";
                    console.error(error);
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).on('click', '.abrirModaleEx', function() {
        var documento = $(this).data('id');
        $('#modalExclusao').data('id', documento);
        $('#modalExclusao').modal('show');
    });
</script>
{% endblock script %}