{% extends "public/base.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/pagination/dataTi.js') }}"></script>
{% endblock %}
{% block conteudo %}
    <!-- Exibe mensagem que foi enviado pelo Back -->
    {% for message in get_flashed_messages() %}
        {% if "baixa(s)" in message %}
            <script>
                window.setTimeout(function() {
                    $(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 10000);
            </script>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="fa-solid fa-circle-exclamation" style="font-size: 1rem; padding-right: 1rem;"></i>
                <div>
                    <h6>{{ message }}</h6>
                </div>
            </div>
        {% else %}
            <script>
                window.setTimeout(function() {
                    $(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 6000);
            </script>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <i class="fa-solid fa-circle-check" style="font-size: 1rem; padding-right: 0.5rem;"></i>
                <div>
                    <h6>{{ message }}</h6>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="conteiner-top">
        <h3 class="titulo-pagina">Lista de Títulos</h3>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Pesquisar" id="searchField">
        </div>
        <a style="width: 15%;" name="atualizaBase" id="atualizaBase" class="btn btn-outline-success" href="/cad-titulo">Cadastrar</a>
    </div>

    <div class="page-container">
        <div class="container">
            <div id="lista-titulos"></div>
        </div>
    </div>
    <!-- Modal de confrimação de exclusão do título -->
    {% if context %}
        {% if context.aviso == 1 %}
            <section class="modal-delete">
                <div id="card-delete">
                    <h2>Aviso!</h2>
                    <hr>
                    <p>Deseja mesmo excluir o título {{ context.titulo.t_numDoc }}?</p>
                    <div id="btns">
                        <a class="btn btn-success btn-sm" href="/deletar-titulo/{{ context.titulo.t_numDoc }}">Confirmar</a>
                        <a class="btn btn-danger btn-sm" href="javascript:history.back()">Cancelar</a>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}
    <!-- Modal para vizualizar dados do título -->
    {% if context %}
        {% if context.aviso == 2 %}
            <section class="modal-view">
                <div id="card-view">
                    <h2>Dados do Título</h2>
                    <hr>
                    <div class="scroll-titulo">
                        <div class="container">
                                <div class="row">
                                    <div class="col-2">
                                        <label for="">N. do Documento</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="numDoc" id="numDoc" maxlength="40" size="40" 
                                        tabindex="1" autocomplete="off" required value="{{context.titulo.t_numDoc}}" readonly>
                                    </div>
                                    <div class="col-2">
                                        <label for="">Documento Ref.</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="docRef" id="docRef" maxlength="40" size="40" 
                                        tabindex="1" autocomplete="off" required value="{{context.titulo.t_docRef}}" readonly>
                                    </div>
                                    <div class="col-2">
                                        <label for="">Segmento</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="segmento" id="segmento" maxlength="40" size="40" 
                                        tabindex="1" autocomplete="off" required value="{{context.segCliVend[0].s_abrev}}" readonly>
                                    </div>
                                    <div class="col-4">
                                        <label for="">Data do Lançamaneto</label>
                                        <input type="date" class="form-control" style="text-transform: uppercase;" name="dataLanc" id="dataLanc" maxlength="50" size="50" 
                                        tabindex="3" autocomplete="off" required value="{{context.titulo.t_dataLanc | strftime}}" readonly>
                                    </div>
                                    <div class="col-2">
                                        <label for="">Comissão</label>
                                        <input type="number" class="form-control" style="text-transform: uppercase;" name="comissao" id="comissao" maxlength="40" size="40" 
                                        tabindex="4" autocomplete="off" required value="{{context.titulo.t_comissao}}" readonly>
                                    </div> 
                                </div>
                                <br>        
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">Cliente</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="cliente" id="cliente" maxlength="10" size="10" 
                                        tabindex="5" autocomplete="off" required value="{{context.titulo.t_idCliente}} - {{context.segCliVend[0].c_razaosocial}}" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Vendedor</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="vendedor" id="vendedor" maxlength="10" size="10" 
                                        tabindex="6" autocomplete="off" required value="{{context.titulo.t_idVendedor}} - {{context.segCliVend[0].v_nome}}" readonly>
                                    </div>                     
                                </div>
                                <br>
                                <div class="row mb-4">
                                    <div class="col-4">
                                        <label for="">Valor Total</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="valorTotal" id="valorTotal" maxlength="10" size="10" 
                                        tabindex="7" autocomplete="off" required value="{{context.segCliVend[0].valorTotal | real}}" readonly>
                                    </div>
                                    <div class="col-2">
                                        <label for="">Parcelas</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="parcelas" id="parcelas" maxlength="40" size="40" 
                                        tabindex="1" autocomplete="off" required value="{{context.segCliVend[0].parcelas}}" readonly>
                                    </div>
                                    <div class="col-2">
                                        <label for="">Filial</label>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" name="filial" id="filial" maxlength="10" size="10" 
                                        tabindex="6" autocomplete="off" required value="{{context.titulo.t_filialOri}}" readonly>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="row justify-content-md-center"> 
                                        <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                                            <label style="font-weight: 700; font-size:15px;">Num. Parcelas</label> 
                                        </div>
                                        <div class="col-4">
                                            <label style="font-weight: 700; font-size:15px;">Valor</label>
                                        </div> 
                                        <div class="col-4"> 
                                            <label style="font-weight: 700; font-size:15px;">Data Vencimento</label> 
                                        </div>
                                        <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                                            <label style="font-weight: 700; font-size:15px;">Status</label>
                                        </div>
                                    </div>
                                    {% for parcela in context.parcelas %}
                                        <div class="row justify-content-md-center">
                                            <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                                                <h6 style="margin-top: 0.4rem;">x{{parcela.t_numParcela}}</h6>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" style="text-transform: uppercase;" name="valor{{parcela.t_numParcela}}" id="valor{{parcela.t_numParcela}}" maxlength="10" size="10" tabindex="4" value="{{parcela.t_valor | real}}" readonly>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" class="" style="text-transform: uppercase;" name="parcela{{parcela.t_numParcela}}" id="parcela{{parcela.t_numParcela}}" maxlength="10" size="10" tabindex="4" autocomplete="off" value="{{parcela.t_dataVenc | data}}" disabled>
                                            </div>
                                            <div class="col-2" style="display: flex;align-items: center;justify-content: center;">
                                                {% if parcela.t_status == 0 %}
                                                    <h6 style="font-weight: 700; font-size:15px; color:#758918">Liquidado</h6>
                                                {% else %}
                                                    <h6 style="font-weight: 700; font-size:15px; color:#c9031a">Aberto</h6>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    <div id="btns">
                        <a class="btn btn-outline-danger btn-sm" href="javascript:history.back()">Cancelar</a>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    {% block script %} 
        <script>
            var table = $('#lista-titulos').tableSortable({
                data: dataTi,
                columns: columnsTi,
                searchField: '#searchField',
                responsive: {
                    600: {
                        columns: {
                            formCode: 'Form Code',
                            formName: 'Form Name',
                        },
                    },
                },
                rowsPerPage: 10,
                pagination: true,
                tableWillMount: function() {
                    console.log('table will mount')
                },
                tableDidMount: function() {
                    console.log('table did mount')
                },
                tableWillUpdate: function() {console.log('table will update')},
                tableDidUpdate: function() {console.log('table did update')},
                tableWillUnmount: function() {console.log('table will unmount')},
                tableDidUnmount: function() {console.log('table did unmount')},
                onPaginationChange: function(nextPage, setPage) {
                    setPage(nextPage);
                }
            });

            $('#changeRows').on('change', function() {
                table.updateRowsPerPage(parseInt($(this).val(), 10));
            })

            $('#rerender').click(function() {
                table.refresh(true);
            })

            $('#distory').click(function() {
                table.distroy();
            })

            $('#refresh').click(function() {
                table.refresh();
            })

            $('#setPage2').click(function() {
                table.setPage(1);
            })
        </script>
    {% endblock %}

{% endblock %}