{% extends "public/base.html" %}
{% block conteudo %}
{% include "public/header.html" %}
{% include "public/modal/modalVisualizacao.html" %}

    <div id="lista-observacoes"></div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/observacoes/dataObserv.js') }}"></script>
<script>
    $(document).ready(function () {
        $('#modalVisu').on('show.bs.modal', function (event) {
            var modal = $(this);
            var idOberv = modal.data('id');

            $.ajax({
                url: `/observacao/${idOberv}`,
                type: 'GET',
                success: function (data) {
                    $('#corpoModalVisu').html("");
                    $('#corpoModalVisu').html(data);
                },
                error: function (error) {
                    window.location = "/error_500";
                    console.error(error);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).on('click', '.abrirModal', function () {
        var idOberv = $(this).data('id');
        $('#modalVisu').data('id', idOberv);
        $('#modalVisu').modal('show');
    });
</script>
{% endblock %}