<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_gerais.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/bootstrap/css/bootstrap.min.css') }}">

    <title>Erro</title>
</head>
<body>
    <div class="container-erro">
        <h3>Página não encontrada.</h3>
        <img style="width: 35%;border-radius: 1rem;" src="{{ url_for('static', filename='img/Erro 404.jpg') }}" alt="User Icon"/>
    </div>
</body>
</html>