<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta content="text/html"; charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_gerais.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/fontawesome/css/all.min.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/jquery/jquery.mask.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/popper/popper.min.js') }}"></script>  
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/jquery/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/funcoes.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/chart/chart.umd.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugin/pagination/table-sortable.js') }}"></script>
    <!-- Bloco para a head -->
    {% block head %}
    {% endblock %} 
    
    <title>..:: GEF III ::..</title>

</head>
<body class="corpo-documento" {% if context %}{% if context.aviso %}style="overflow: hidden"{% endif %}{% endif %} id="corpo-documento">
    <div class="topo-pagina">
        <div class="base-pagina">
            <div class="pagina">
                <div class="main">
                    <div class="header">
                        <div class="header-topo">
                            <div class="header-img" >
                                <span id='topo'></span>
                                <img class="img" src="{{ url_for('static', filename='img/logo3.png') }}" alt="User Icon"/>
                            </div>
                            <div class="header-titulo">
                                <h1>GEF III</h1>
                                <h2>.: Gestor financeiro :.</h2>
                            </div>
                        </div>
                        <div class="barra-menu" id="header">
                            <div class="dropdown">
                                <button class="dropbutton">&#9776;</button>
                                <div class="dropdown-opcoes">
                                    <a href="/troca-filial">Trocar Filial</a>
                                    <a href="/logout">Sair</a>
                                </div> 
                            </div>
                            <div class="dropdown">
                                <a class="dropbutton" href="/base">Início</a>
                            </div>                                
                            <div class="dropdown">
                                <button class="dropbutton">Cadastros</button>
                                    <div class="dropdown-opcoes">
                                        <a href="/lista-clientes">Clientes</a>  
                                        <a href="/lista-vendedores">Vendedores</a> 
                                        <a href="/lista-titulos">Títulos</a>  
                                    </div>    
                            </div>
                            <div class="dropdown">
                                <button class="dropbutton">Movimentos</button>
                                <div class="dropdown-opcoes">
                                    <a href="/lista-baixas">Baixas</a>
                                    <a href="/cad-devolucao">Devoluções</a>
                                    <a href="/lista-estorno">Estornos</a>
                                    <a href="/lista-observacoes">Observações</a>
                                </div>
                            </div>  
                            <div class="dropdown">
                                <button class="dropbutton" style="width:10rem;">Relatórios</button>
                                <div class="dropdown-opcoes">
                                    <a href="/relat-receber">Títulos a Receber</a>
                                    <a href="/relat-recebidos">Títulos Recebidos</a>
                                    <a href="/relat-devolucao">Devoluções</a>
                                    <a href="/relat-comissao">Comissões</a>
                                    <a href="/relat-consistecia">Consistência</a>
                                    <a href="/relat-observacoes">Observações</a>
                                </div>
                            </div>
                            <!-- Exibe o dropdown apenas se o usuário for admin -->
                            {% if session.user_admin %}
                                <div class="dropdown">
                                    <a class="dropbutton" href="/lista-usuarios">Usuários</a>
                                </div>
                            {% endif %}  
                            <div class="filial-hora">
                                <!-- Exibe a filial que está logada -->
                                <h6 style="color: #444444;font-weight: 600;">FILIAL: {% if session.filial == 1 %} MORUNGABA {% else %} VOTORANTIM {% endif %}</h6>
                                <div id="data-hora"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Conteudo do corpo -->
                    <div class="conteudo-corpo">
                        {% block conteudo %}
                        {% endblock %}
                    </div>
                    <div class="rodape-pagina">
                        <div align="center">
                            <p>&copy; Copright 2021. Designed by Rafael Tengan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Função para fixar menu quando a tela tiver scroll
        var offset = $('#header').offset().top;
        var $meuMenu = $('#header'); //Guardar o elemento na memoria para melhorar performance
        $(document).on('scroll', function () {
            if (offset <= $(window).scrollTop()) {
                $meuMenu.removeClass();
                $meuMenu.addClass('fixar');
            } else {
                $meuMenu.addClass("barra-menu");
                $meuMenu.removeClass('fixar');
            }
        });
    </script>

    <script>
        //Função para formatar 1 em 01
        const zeroFill = n => {
            return ('0' + n).slice(-2);
        }

        //Cria intervalo
        const interval = setInterval(() => {
            //Pega o horário atual
            const now = new Date();

            //Formata a data conforme dd/mm/aaaa hh:ii
            const dataHora = zeroFill(now.getUTCDate()) + '/' + zeroFill((now.getMonth() + 1)) + '/' + now.getFullYear() + ' ' + zeroFill(now.getHours()) + ':' + zeroFill(now.getMinutes());

            //Exibe na tela usando a div#data-hora
            document.getElementById('data-hora').innerHTML = `<h6 style="color: #444444;font-weight: 600;">DATA: ${dataHora}</h6>`;
        }, 0);
    </script>
    <!-- Bloco para script -->
    {% block script %}
    {% endblock %}
</body>
</html>