{% extends "public/base.html" %}
{% block conteudo %}
    <div class="header-menu">
        <h4 class="titulo-pagina">Dashboard</h4>
        <a class="btn btn-outline-primary btn-sm" id="imprimir" href="javascript:window.print()"><i class="fa-solid fa-print"></i> Imprimir</a>
    </div>
    <div class="cards">
        <a href="/lista-clientes" class="click-icon">
            <div class="card">
                <div class="card-body">
                    <div class="icon">
                        <i class="fa-solid fa-users" style="color: '#fff';font-size: 3rem;"></i>
                    </div>
                    <div class="textos">
                        <div class="valores" id="qtdeClientes">
                            {{ context.qtdeClientes }}
                        </div>
                        <div class="titulo-card">
                            Clientes
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/lista-vendedores" class="click-icon">
            <div class="card">
                <div class="card-body">
                    <div class="icon">
                        <i class="fa-solid fa-users" style="color: '#fff';font-size: 3rem;"></i>
                    </div>
                    <div class="textos">
                        <div class="valores" id="qtdeVendedores">
                            {{ context.qtdeVendedores }}
                        </div>
                        <div class="titulo-card">
                            Vendedores
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/lista-titulos" class="click-icon">
            <div class="card">
                <div class="card-body">
                    <div class="icon">
                        <i class="fa-solid fa-sack-dollar" style="color: '#fff';font-size: 3rem;"></i>
                    </div>
                    <div class="textos">
                        <div class="valores" id="qtdeTitulo">
                            {{ context.qtdeTitulo }}
                        </div>
                        <div class="titulo-card">
                            Títulos
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="graficos">
        <div class="barras">
            <canvas id="grafico-linhas-recebidos"></canvas>
        </div>
        <div class="barras">
            <canvas id="grafico-linhas-receber"></canvas>
        </div>
    </div>
    <div class="graficos">
        <div class="barras">
            <canvas id="grafico-barras-comparativo"></canvas>
        </div>
        <div class="barras">
            <canvas id="grafico-pizza-comparativo"></canvas>
        </div>
    </div>
    <div id="rcorners2" class="container">
        <h5>Últimos 5 Títulos</h5>
        <div class="container" id="cont1">
            <table class='table table-striped' style='width: 95%;margin:auto; font-size:14px'>
                <thead>
                    <tr class='table-info'>
                        <th>Ref.</th>
                        <th>Documento</th>
                        <th>QTD. Parcelas</th>
                        <th>Cliente</th>
                        <th>Vendedor</th>
                        <th>Emissão</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop para preencher a tabela -->
                    {% for titulo in context.paginasTi.items %}
                        <td>{{ titulo.s_abrev }}{{ titulo.t_docRef}}</td>
                        <td>{{ titulo.t_numDoc }}</td>
                        <td>{{ titulo.parcelas }}</td>
                        <td>{{ titulo.t_idCliente }}</td>
                        <td>{{ titulo.t_idVendedor }}</td>
                        <td>{{ titulo.t_dataLanc | data }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h5>Últimas 5 Baixas</h5>
        <div class="container" id="cont1">
            <table class='table table-striped' style='width: 95%;margin:auto; font-size:14px'>
                <thead>
                    <tr class='table-info'>
                        <th>Ref.</th>
                        <th>Documento</th>
                        <th>Parcela</th>
                        <th>Cliente</th>
                        <th>Valor</th>
                        <th>Tipo Baixa</th>
                        <th>DT Baixa</th>
                    </tr>
                </thead>
                <!-- Loop para preencher a tabela -->
                    {% for baixa in context.paginasBa.items %}
                        <td>{{ baixa.m_docRef }}</td>
                        <td>{{ baixa.m_numDoc }}</td>
                        <td>{{ baixa.m_parcela }}</td>
                        <td>{{ baixa.m_idCliente }}</td>
                        <td>{{ baixa.m_valor | real }}</td>
                        <td>{{ baixa.m_tipoBaixa | tpBixa }}</td>
                        <td>{{ baixa.m_dataBaixa | data }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal para inserir nova senha -->
    {% if context.usuario %}
        {% if context.usuario.s_novaSenha %}
            <section class="modal-senha">
                <div id="card-senha">
                    <h2>Insira a nova Senha</h2>
                    <hr>
                    <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h6>As Senhas não coincidem!</h6>
                        <button type="button" class="btn-close" aria-label="Close" onclick="fechaAlert()"></button>
                    </div>
                    <form action="/cad-senha/{{ context.usuario.s_codigo }}" onsubmit="return validarSenha('senha', 'senhaConf')" method="POST">
                        <div id="inputs">
                            <label for="senha">Senha:</label>
                            <input type="password" id="senha" name="senha" maxlength="10" required>
                            <label for="senhaConf">Confirme a Senha:</label>
                            <input type="password" id="senhaConf" name="senhaConf" maxlength="10" required>
                        </div>
                        <div id="btns">
                            <input type="submit" class="btn btn-outline-success" value="Confrimar">
                        </div>
                    </form>
                </div>
            </section>
        {% endif %}
    {% endif %}
    <!-- Modal para confirmação de troca de filial -->
    {% if context.aviso %}
        <section class="modal-alert">
            <div id="card-alert">
                <h2>Aviso!</h2>
                <hr>
                <p>Está ação ira efetuar a troca de Filial.</p>
                <p>Deseja continuar?</p>
                <div id="btns">
                    <a class="btn-sim" href="/filial" >SIM</a>
                    <a class="btn-nao" href="javascript:history.back()">NÃO</a>
                </div>
            </div>
        </section>  
    {% endif %}

    {% block script %}
        <script>
            // Gráfico de linha títulos recebidos
            const ctxBarras = document.getElementById('grafico-linhas-recebidos').getContext('2d');

            $.ajax({
                url: '/api-titulos-recebidos',
                type: 'POST',
                async: false,
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){
                    const myChart = new Chart(ctxBarras, {
                        type: 'line',
                        data: {
                        labels: data.meses,
                        datasets: [{
                            borderColor: "#36802d",
                            backgroundColor: "#36802d",
                            color: "#36802d",
                            label: 'Títulos Recebidos',
                            data: data.valores,
                            borderWidth: 2.5
                        }]
                        },
                        options: {
                            width: 400,
                            animation : {
                                duration : 1500,
                                easing : 'linear'
                            },
                            plugins: {
                                legend: {
                                    display: false,
                                    position: "bottom",
                                    labels: {
                                        color: 'rgb(255, 99, 132)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "Títulos Recebidos",
                                    position: 'top',
                                },
                                tooltips : {
                                    enabled : true,
                                    intersect : true,
                                    backgroundColor : 'rgba(41, 128, 185,0.8)'
                                }
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                },
                                yAxes: [{
                                    ticks: {
                                    beginAtZero: false
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    })
                }
            });
            // Gráfico de linha títulos a receber
            const ctxBarras2 = document.getElementById('grafico-linhas-receber');
        
            $.ajax({
                url: '/api-titulos-receber',
                type: 'POST',
                async: false,
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){
                    const myChart2 = new Chart(ctxBarras2, {
                        type: 'line',
                        data: {
                        labels: data.meses,
                        datasets: [{
                            backgroundColor: "#f24e4e",
                            borderColor: "#f24e4e",
                            color: "#f24e4e",
                            label: 'Títulos a Receber',
                            data: data.valores,
                            borderWidth: 2.5
                        }]
                        },
                        options: {
                            animation : {
                                duration : 1500,
                                easing : 'linear'
                            },
                            plugins: {
                                legend: {
                                    display: false,
                                    position: "bottom",
                                    labels: {
                                        color: 'rgb(255, 99, 132)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "Títulos a Receber",
                                    position: 'top'
                                },
                                tooltips : {
                                    enabled : true,
                                    intersect : true,
                                    backgroundColor : 'rgba(41, 128, 185,0.8)'
                                }
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    })
                }
            });
            // Gráfico de barras comparação do valor recebido em cada mes dos títulos
            const ctxBarras3 = document.getElementById('grafico-barras-comparativo');
        
            $.ajax({
                url: '/api-titulos-comparar',
                type: 'POST',
                async: false,
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){
                    const myChart3 = new Chart(ctxBarras3, {
                        type: 'bar',
                        data: {
                        labels: data.meses,
                        datasets: [{
                            backgroundColor: "#77ab59",
                            borderColor: "#77ab59",
                            color: "#77ab59",
                            label: data.anoAtual,
                            data: data.valorresAtual
                        },
                        {
                            backgroundColor: "#f2c94e",
                            borderColor: "#f2c94e",
                            color: "#f2c94e",
                            label: data.anoAnterior,
                            data: data.valoresAnteriror,
                        }]
                        },
                        options: {
                            animation : {
                                duration : 1500,
                                easing : 'linear'
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    position: "bottom",
                                    labels: {
                                        color: 'rgb(0, 0, 0)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "Comparação de Recebidos entre anos",
                                    position: 'top'
                                },
                                tooltips : {
                                    enabled : true,
                                    intersect : true,
                                    backgroundColor : 'rgba(41, 128, 185,0.8)'
                                }
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    })
                }
            });
            // Gráfico de pizza com a comparação dos títulos por devolução e baixas normais
            const ctxBarras4 = document.getElementById('grafico-pizza-comparativo');
        
            $.ajax({
                url: '/api-tipo-decolucao',
                type: 'POST',
                async: false,
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){
                    const myChart4 = new Chart(ctxBarras4, {
                        type: 'pie',
                        data: {
                        labels: ["Baixas Normal R$ " + data.biaxas, "Baixas Devolução R$ " + data.baixasDev],
                        datasets: [{
                            backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            ],
                            data: [data.biaxas, data.baixasDev]
                        }]
                        },
                        options: {
                            animation : {
                                duration : 1500,
                                easing : 'linear'
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    position: "bottom",
                                    labels: {
                                        color: 'rgb(0, 0, 0)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "Comparação Baixas por Devolução",
                                    position: 'top'
                                },
                                tooltips : {
                                    enabled : true,
                                    intersect : true,
                                    backgroundColor : 'rgba(41, 128, 185,0.8)'
                                }
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    })
                }
            });
        </script>
    {% endblock %}

{% endblock %}